// texts
$p-blue: #6E6EFC;
$p-light-blue: #B6B6FD;
$p-light-gray: #8C87A6;
$white: #ffffff;

// links
$link-gray: rgba(99, 99, 99, 0.5);

// backgrounds
$primary-blue-bg: #3A3AE0;
$light-gray-bg: #F9F9F9;
$light-transparent-bg: rgba(255, 255, 255, 0.35);
$main-yellow: #FFE500;

// placeholders
$form-placeholder: rgba(255, 255, 255, 0.25);
